# node / gulp
node_modules
yarn.lock
_tasks/*
gulpfile.js
tasks.js
package.json

# Ignore unchanged MV folders
app/audio/*
app/img/*/*
app/icon/*
app/fonts/
app/movies/

# Include new imgs
!app/img/characters/%test-Actor1.png
!app/icon/cursor-default.png
!app/icon/cursor-pointer.png
!app/img/parallaxes/!CollisionMap.png

# Ignore default js
app/js/libs/
app/js/main.js
app/js/rpg_core.js
app/js/rpg_managers.js
app/js/rpg_objects.js
app/js/rpg_scenes.js
app/js/rpg_sprites.js
app/js/rpg_windows.js

# Ignore all saves
*.rpgsave

# other
.vscode
app/js/plugins/QuasiSight.js
app/js/plugins/Q_IsoCam.js
app/js/plugins/_QCamera.js
app/js/plugins/Q_Culling.js
app/js/plugins/QuasiPopup.js
app/js/plugins/QM+SetAngles.js
app/js/plugins/QuasiABS.js
app/js/plugins/QuasiABSGauges.js
app/js/plugins/QuasiABSHudA.js
app/js/plugins/YEP_SlipperyTiles.js
app/js/plugins/YEP_RegionRestrictions.js
