# node
node_modules
yarn.lock

# gulp
gulpfilejs
package.json
rmw.html

# Ignore unchanged MV folders
audio/*
img/*/*
icon/
fonts/
movies/

# Include new imgs
!img/characters/%test-Actor1.png

# Ignore default js
js/libs/
js/main.js
js/rpg_core.js
js/rpg_managers.js
js/rpg_objects.js
js/rpg_scenes.js
js/rpg_sprites.js
js/rpg_windows.js
*.rpgsave

# Ignore QMovement for now
js/plugins/QMovement/*
js/plugins/QMovement-dev.js
js/plugins/QMovement.js
js/plugins/QuasiMovement.js
